body{
    background-color: aqua;
}
h1{
    color: blue;background-color: black;
}
h2{
    color: brown;background-color:green ;
}
h3{
    color: blueviolet;background-color: lightslategrey;
}
h4{
    color: black;background-color: azure;
}
h5{
    color: crimson;background-color: darkviolet;
}