body{
    background-color: #333;
    color: #fff;
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}
textarea,
select,
input{
    outline: none;
}
h1{
    text-align: center;
    text-transform:uppercase ;
    color: orangered;
    margin-bottom: 2rem;
}
form{
    width: 75%;
    margin: 16px auto;
    background-color: #fff;
    color: #333;
    padding: 24px 8px ;
    border: radius 12px;
    box-shadow:3px 4px 10px 3px #eeeeee24 ;
}
form,:in-group{
    display: inline-block;
    width:49,6% ;
    padding: 0 12px;
    margin-bottom:12px ;
}
